@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-black: #000000;
  --secondary-black: #101010;
  --primary-white: #ffffff;
  --secondary-white: #f0f0f0;
  --primary-pink: #efc3c5;
  --primary-pista: #e2f2b0;
}

.bg-dark-black {
  background: var(--primary-black);
}

.bg-light-black {
  background: var(--secondary-black);
}

.main-container {
  min-height: 100vh;
  isolation: isolate;
  position: relative;
  overflow-y: hidden;
}

.main-container::before {
  content: "";
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 30vh;
  background-color: var(--primary-black);
  z-index: -1;
  filter: blur(10px);
}
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary-white);
  width: 20rem;
  height: 25rem;
  border-radius: 50%;
  filter: blur(100px);
  z-index: -2;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 0 2rem;
}

/* -------navbar-------- */
header {
  height: 14vh;
}

.logo {
  width: 1.3rem;
  aspect-ratio: 1;
  background-color: var(--primary-white);
  transform: rotate(45deg);
  position: relative;
}

.logo::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  aspect-ratio: 1;
  /* background-color: red; */
  border: 0.1rem solid var(--primary-white);
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlist {
  display: flex;
  align-items: center;
  gap: 2rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.navlinks {
  color: var(--secondary-white);
  font-size: 1rem;
}

.navlinks:hover,
.active {
  color: var(--primary-pink);
}

.line {
  width: 2.2rem;
  height: 0.2rem;
  margin: 0.35rem;
  background-color: var(--primary-white);
}

.hambarger {
  display: none;
}
/* hero-section */
.hero-section {
  height: calc(100vh - 14vh);

  display: flex;
  justify-content: center;
}

.left-container {
  align-self: center;
}

h1 {
  font-size: 4.1rem;
  text-transform: uppercase;
  color: var(--primary-white);
}

img {
  height: 100%;
  display: inline-block;
  margin: auto;
}
.right-container {
  align-self: flex-end;
  margin-bottom: 5rem;
}
.para {
  font-size: 1rem;
  color: var(--primary-white);
  line-height: 1.7rem;
  padding: 1rem 0 2.5rem 0;
}

[data-type="border-para"] {
  border-right: 0.4rem solid var(--primary-pista);
  text-align: end;
  padding-right: 2rem;
}
/* ------slider----- */
.scroll-container {
  white-space: nowrap;
  overflow-x: hidden;
  padding: 2rem 0;
}
.scroll {
  display: inline-block;
  animation: 10s scroll infinite linear;
}
h2 {
  color: var(--primary-pista);
  font-size: 4rem;
  font-family: "Allura", cursive;
  display: inline-block;
}
[data-type="scroll-txt"] {
  color: var(--primary-white);
  margin: 0 2rem;
}
.break {
  width: 2rem;
  aspect-ratio: 1;
  background-color: var(--primary-pista);
  border-radius: 50%;
  display: inline-block;
}

@keyframes scroll {
  from {
    transform: translatex(0);
  }
  to {
    transform: translate(-100%);
  }
}

/* ---story section----- */

.product-container {
  height: 35rem;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section {
  padding: 5rem 0;
}
.content {
  /* background: red; */
  width: 100%;
  max-width: 550px;
}
.primary-btn {
  color: var(--primary-black);
  background-color: var(--primary-pista);
  padding: 0.8rem 1.2rem;
}
.primary-btn:hover {
  background: var(--primary-pink);
}

/* -----------selling products--- */
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
}
.card-product {
  height: 20rem;
}
.grid-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  width: 100%;
  height: 100%;
}
.card {
  background: var(--secondary-black);
  padding: 2rem;
  border: 0.1rem solid rgb(51 51 51);
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  background: rgb(51 51 51);
  transform: scale(1.05);
}
h4,
.price {
  color: var(--primary-white);
  font-size: 1.2rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* ----our services---- */
h3 {
  font-size: 1.5rem;
  color: var(--primary-white);
}
.services-card {
  padding-top: 2rem;
  position: relative;
  isolation: isolate;
}
.services-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background: var(--primary-pista);
  z-index: -1;
  transition: 0.3s all;
}
.services-card:hover::before {
  height: 100%;
}
.services-card:hover.services-card * {
  color: var(--primary-black);
}

/* ---sale section---- */
.sale-product {
  height: 14rem;
}
.sale-heading {
  color: var(--primary-pink);
  font-size: 1.3rem;
  text-transform: uppercase;
}
.sale-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
}
.sale-txt {
  font-size: 2.2rem;
}
.celebrate {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.glow1,
.glow2 {
  position: absolute;
  width: 15rem;
  aspect-ratio: 1;
  border-radius: 50%;
  filter: blur(150px);
  z-index: -1;
}
.glow1 {
  top: 50px;
  left: 50px;
  background: orangered;
}
.glow2 {
  bottom: 50px;
  right: 50px;
  background: blue;
}
/* ----gallery section---- */
.gallery-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.image-gallery {
  height: 25rem;
  width: 100%;
}
.image-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------footer section----- */
.footer-txt {
  color: var(--primary-white);
  font-size: 1.15rem;
  text-align: center;
}

/* product page */
.detail_container {
  background: var(--secondary-black);
  position: absolute;
  z-index: 1;
  align-items: center;
  width: 70rem;
  height: 40rem;
  margin-left: 10%;
  margin-top: 10%;
  box-shadow: #f0f0f0 0px 5px 15px;
  padding: 20px 30px;
  border-radius: 5px;
}
.detail_container .detail_content {
  max-width: 100%;
}
.detail_container .detail_content .close {
  border: none;
  outline: none;
  background: var(--primary-pista);
  cursor: pointer;
}

.detail_container .detail_content .detail_info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.detail_container .detail_content .detail_info img {
  height: 500px;
  width: 400px;
}

.detail_container .detail_content .detail_info .product_detail {
  margin-left: 30px;
}

.detail_container .detail_content .detail_info .product_detail h3 {
  margin-top: 10px;
}
.detail_container .detail_content .detail_info .product_detail h4 {
  margin-top: 10px;
}

.detail_container .detail_content .detail_info .product_detail p {
  margin-top: 10px;
  font-size: 1rem;
  margin-right: 20px;
  color: var(--primary-pink);
}

.detail_container .detail_content .detail_info .product_detail button {
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  outline: none;
  background: var(--primary-pista);
  border-radius: 22px;
  color: #000000;
}
/* ---media queries----- */
@media screen and (max-width: 580px) {
  .navlist {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    background: var(--primary-black);
    transform: translatex(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .navlist-active {
    transform: translate(0);
  }
  .navlinks {
    font-size: 1.1rem;
  }
  .logo {
    z-index: 5;
  }
  .hambarger {
    display: block;
    cursor: pointer;
    z-index: 5;
  }
  .hero-section {
    flex-direction: column;
  }
  .right-container,
  .product-container,
  .sale-product {
    display: none;
  }
  .middle-container {
    height: 28rem;
    margin: auto;
  }
  h1 {
    font-size: 2.2rem;
  }
  .left-container {
    margin-top: 4rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  .para,
  .footer-txt {
    font-size: 0.95rem;
  }
  .grid-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .sale-txt {
    font-size: 2rem;
  }
}
